In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
def verify_duplicated(df):
    if df.duplicated().sum() > 0:
        print("Dataframe contains duplicated rows")
        df.drop_duplicates(inplace=True)
        return df
    print("Dataframe NOT contains duplicated rows")
    return df

In [3]:
df_circuits = pd.read_csv("./data/circuits.csv")
df_constructor_results = pd.read_csv("./data/constructor_results.csv")
df_constructor_standings = pd.read_csv("./data/constructor_standings.csv")
df_constructors = pd.read_csv("./data/constructors.csv")
df_driver_standings = pd.read_csv("./data/driver_standings.csv")
df_drivers = pd.read_csv("./data/drivers.csv")
df_lap_times = pd.read_csv("./data/lap_times.csv")
df_pit_stops = pd.read_csv("./data/pit_stops.csv")
df_qualifying = pd.read_csv("./data/qualifying.csv")
df_races = pd.read_csv("./data/races.csv")
df_results = pd.read_csv("./data/results.csv")
df_seasons = pd.read_csv("./data/seasons.csv")
df_sprint_results = pd.read_csv("./data/sprint_results.csv")
df_status = pd.read_csv("./data/status.csv")

list_dfs = [
    (df_circuits, "circuits"),
    (df_constructor_results, "constructor_results"),
    (df_constructor_standings, "constructor_standings"),
    (df_constructors, "constructors"),
    (df_driver_standings, "driver_standings"),
    (df_drivers, "drivers"),
    (df_lap_times, "lap_times"),
    (df_pit_stops, "pit_stops"),
    (df_qualifying, "qualifying"),
    (df_races, "races"),
    (df_results, "results"),
    (df_seasons, "seasons"),
    (df_sprint_results, "sprint_results"),
    (df_status, "status")
]

In [4]:
for df in list_dfs:
    print(df[1])
    print("Number rows: ", df[0].shape[0])
    df = verify_duplicated(df[0])
    df.replace("\\N", np.nan, inplace=True)
    print(df.isnull().sum())
    print()

circuits
Number rows:  77
Dataframe NOT contains duplicated rows
circuitId     0
circuitRef    0
name          0
location      0
country       0
lat           0
lng           0
alt           3
url           0
dtype: int64

constructor_results
Number rows:  12290
Dataframe NOT contains duplicated rows
constructorResultsId        0
raceId                      0
constructorId               0
points                      0
status                  12273
dtype: int64

constructor_standings
Number rows:  13051
Dataframe NOT contains duplicated rows
constructorStandingsId    0
raceId                    0
constructorId             0
points                    0
position                  0
positionText              0
wins                      0
dtype: int64

constructors
Number rows:  211
Dataframe NOT contains duplicated rows
constructorId     0
constructorRef    0
name              0
nationality       0
url               0
dtype: int64

driver_standings
Number rows:  34124
Dataframe NOT contains duplicated rows
driverStandingsId    0
raceId               0
driverId             0
points               0
position             0
positionText         0
wins                 0
dtype: int64

drivers
Number rows:  857
Dataframe NOT contains duplicated rows
driverId         0
driverRef        0
number         803
code           757
forename         0
surname          0
dob              0
nationality      0
url              0
dtype: int64

lap_times
Number rows:  551742
Dataframe NOT contains duplicated rows
raceId          0
driverId        0
lap             0
position        0
time            0
milliseconds    0
dtype: int64

pit_stops
Number rows:  10089
Dataframe NOT contains duplicated rows
raceId          0
driverId        0
stop            0
lap             0
time            0
duration        0
milliseconds    0
dtype: int64

qualifying
Number rows:  9815
Dataframe NOT contains duplicated rows
qualifyId           0
raceId              0
driverId            0
constructorId       0
number              0
position            0
q1                149
q2               4473
q3               6518
dtype: int64

races
Number rows:  1101
Dataframe NOT contains duplicated rows
raceId            0
year              0
round             0
circuitId         0
name              0
date              0
time            731
url               0
fp1_date       1035
fp1_time       1057
fp2_date       1035
fp2_time       1057
fp3_date       1047
fp3_time       1066
quali_date     1035
quali_time     1057
sprint_date    1089
sprint_time    1092
dtype: int64

results
Number rows:  26080
Dataframe NOT contains duplicated rows
resultId               0
raceId                 0
driverId               0
constructorId          0
number                 6
grid                   0
position           10873
positionText           0
positionOrder          0
points                 0
laps                   0
time               18829
milliseconds       18830
fastestLap         18465
rank               18249
fastestLapTime     18465
fastestLapSpeed    18465
statusId               0
dtype: int64

seasons
Number rows:  74
Dataframe NOT contains duplicated rows
year    0
url     0
dtype: int64

sprint_results
Number rows:  180
Dataframe NOT contains duplicated rows
resultId           0
raceId             0
driverId           0
constructorId      0
number             0
grid               0
position           9
positionText       0
positionOrder      0
points             0
laps               0
time              10
milliseconds      10
fastestLap         6
fastestLapTime     6
statusId           0
dtype: int64

status
Number rows:  139
Dataframe NOT contains duplicated rows
statusId    0
status      0
dtype: int64

In [5]:
df_circuits.drop(["url"], axis=1, inplace=True)
df_constructor_results.drop(["status"], axis=1, inplace=True)
df_constructors.drop(["url"], axis=1, inplace=True)
df_drivers.drop(["url"], axis=1, inplace=True)
df_races.drop(["fp1_date", "fp1_time", "fp2_date", "fp2_time", "fp3_date", "fp3_time", "quali_date", "quali_time", "sprint_date", "sprint_time"], axis=1, inplace=True)

In [23]:
conn = sqlite3.connect('f1.sqlite3')
cursor = conn.cursor()

df_circuits.to_sql('circuits', con=conn, if_exists='replace', index=False)
df_constructor_results.to_sql('constructor_results', con=conn, if_exists='replace', index=False)
df_constructor_standings.to_sql('constructor_standings', con=conn, if_exists='replace', index=False)
df_constructors.to_sql('constructors', con=conn, if_exists='replace', index=False)
df_driver_standings.to_sql('driver_standings', con=conn, if_exists='replace', index=False)
df_drivers.to_sql('drivers', con=conn, if_exists='replace', index=False)
df_lap_times.to_sql('lap_times', con=conn, if_exists='replace', index=False)
df_qualifying.to_sql('qualifying', con=conn, if_exists='replace', index=False)
df_races.to_sql('races', con=conn, if_exists='replace', index=False)
df_results.to_sql('results', con=conn, if_exists='replace', index=False)
df_seasons.to_sql('seasons', con=conn, if_exists='replace', index=False)
df_sprint_results.to_sql('sprint_results', con=conn, if_exists='replace', index=False)
df_status.to_sql('status', con=conn, if_exists='replace', index=False)

cursor.close()
conn.close()

In [22]:
df_circuits

,circuitId,circuitRef,name,location,country,lat,lng,alt
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130
...,...,...,...,...,...,...,...,...
72,75,portimao,Autódromo Internacional do Algarve,Portimão,Portugal,37.22700,-8.62670,108
73,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.99750,11.37190,255
74,77,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.63190,39.10440,15
75,78,losail,Losail International Circuit,Al Daayen,Qatar,25.49000,51.45420,NaN
76,79,miami,Miami International Autodrome,Miami,USA,25.95810,-80.23890,NaN